@model ConsoleApplication.Models.ViewModels.StudentCourseViewModel 

@{ 
    ViewBag.Title = "Enroll " + @Model.Student.FirstName + @Model.Student.LastName;    
}

<div class="row">
    <div class="col-md-4">
        <h1>Enroll Student:</h1>
        <p>@Model.Student.StudentID @Model.Student.FirstName @Model.Student.LastName</p>
    </div>
</div>
<form asp-controler="Student" asp-action="Course" method="POST" class="form-horizontal" >
    <input type="Hidden" name="StudentID" value="@Model.Student.StudentID">
    <div class="row">
        <div class="col-md-2">
             <select id="@Model.Courses" name="CourseID">

                @foreach(var c in Model.Courses)
                {
                    <option value="@c.CourseID">@c.Title</option>
                }              
            </select>
        </div> 
        <div class="col-md-4">
            <button type="submit" class="btn btn-success">Enroll</button>
            <a class="btn btn-primary" asp-controller="Student" asp-action="Index">Finish</a>
        </div>
    </div>
    
 
  </form> 