@model IEnumerable<ConsoleApplication.Models.Entities.Student>


@{
    ViewBag.Title= "Studnet";
    Layout = "../Shared/_Layout.cshtml";
}
     
            <a class="btn btn-success" asp-controller="Student" asp-action="Create">New Student</a>
        
        
    <table class="table  table-striped table-hover"> 
        <thead class="row">
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.EnrollmenDate)</th>
            <th>@Html.DisplayNameFor(model => model.Age)</th>
            <th ><span class="col-xs-offset-1">Action<span></th>
           
        </thead>
     @foreach(var st in Model)
        {           
            <tr> 
                <td>@st.FirstName</td>
                <td>@st.LastName</td>
                <td>@st.EnrollmenDate.ToString("d")</td>
                <td>@st.Age</td>

                <td class="row">
                    <a class="btn btn-primary btn-sm col-xs-3 col-xs-offset-1" asp-controller="Student" asp-action="Update" asp-route-id=@st.StudentID >Edit</a>
                    <a class="btn btn-danger btn-sm col-xs-3 col-xs-offset-1" asp-controller="Student" asp-action="Delete" asp-route-id=@st.StudentID>Delete</a> 
                    <a class="btn btn-info btn-sm col-xs-3 col-xs-offset-1" asp-controller="Student" asp-action="Details" asp-route-id=@st.StudentID>Details</a>
                </td>  
                   
           
            </tr>     
        }
     
      </table>
      
     